@import 'src/styles/variables';
@import '~@taiga-ui/core/styles/mixins/mixins.scss';

.center {
  text-align: center;
}

::ng-deep tui-input-password {
  tui-svg {
    color: var(--tui-primary);
  }
}

::ng-deep a {
  span {
    color: var(--tui-primary);
  }
}

.tui-required {
  color: $error-color !important;
}

::ng-deep .t-message-text {
  color: $error-color;
  white-space: pre-line !important;
}

::ng-deep .submit-btn {
  margin: 0;
  width: 100%;
  margin-top: 50px;
  &._disabled {
    > div {
      background: var(--tui-base-05);
    }
  }
}
::ng-deep .sign-up-title span:hover {
  color: var(--tui-primary-hover);
}
