<div>
  <h3 class="tui-text_h3 tui-space_vertical-4">Privacy Policy</h3>
  <h5 class="tui-text_h5 tui-space_vertical-4">What is the Privacy Policy and what does it cover?</h5>
  <p class="tui-text_body-m" class="tui-text_body-m">
    In the Privacy Policy, we explain how we collect, use, share, retain and transfer information. We also let you know your rights. Each
    section of the Policy includes helpful examples and simpler language to make our practices easier to understand. We've also added links
    to resources where you can learn more about the privacy topics that interest you. It's important to us that you know how to control your
    privacy, so we also show you where you can manage your information in the settings of the Products you use. You can to shape your
    experience.
  </p>
  <h5 class="tui-text_h5 tui-space_vertical-4">What information do we collect?</h5>
  <p class="tui-text_body-m">
    The information we collect and process about you depends on how you use our products. For example, we collect different information if
    you sell furniture on Marketplace than if you post a reel on here. When you use our products, we collect some information about you .
  </p>
  <h5 class="tui-text_h5 tui-space_vertical-4">How do we use your information?</h5>
  <p class="tui-text_body-m">
    We use to provide a personalised experience to you, including ads, along with the other purposes that we explain in detail below. For
    some of these purposes, we use information and . The information that we use for these purposes is automatically processed by our
    systems. But in some cases, we also use to access and review your information. To use less information that's connected to individual
    users, in some cases we de-identify or aggregate information. We might also anonymize it so that it no longer identifies you. We use
    this information in the same ways we use your information as described in this section.
  </p>
  <h5 class="tui-text_h5 tui-space_vertical-4">How do we share information with partners, vendors, service providers and third parties?</h5>
  <p class="tui-text_body-m">
    We don't sell any of your information to anyone and we never will. We also require partners and third parties to follow rules about how
    they can and cannot use and disclose the information that we provide.
  </p>
  <p class="tui-text_body-m">
    We also share information with third parties in response to legal requests, to comply with applicable law or to prevent harm. . And if
    we sell or transfer all or part of our business to someone else, then we may give the new owner your information as part of that
    transaction, in line with applicable law.
  </p>
  <h3 class="tui-text_h3 tui-space_vertical-4">Cookies and other storage technologies</h3>
  <p class="tui-text_body-m">
    Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and receive identifiers and other
    information on computers, phones and other devices. Other technologies, including data that we store on your web browser or device,
    identifiers associated with your device and other software, are used for similar purposes. In this policy, we refer to all of these
    technologies as "cookies". We use cookies if you have an account, use the Products, including our website and apps, or visit other
    websites and apps that use the Products (including the Like button). Cookies enable us to offer the Products to you and to understand
    the information that we receive about you, including information about your use of other websites and apps, whether or not you are
    registered or logged in. This policy explains how we use cookies and the choices you have. Except as otherwise stated in this policy,
    the Data Policy will apply to our processing of the data that we collect via cookies.
  </p>
</div>
