<div
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
  class="container tui-container tui-container_adaptive"
>
  <div class="header">
    <div class="tui-space_horizontal-5 tui-space_top-2 tui-text_h5 title">Friends</div>
    <div class="search-box-container">
      <tui-svg src="tuiIconSearchLarge" class="search-icon"></tui-svg>
      <input class="tui-text_body-m-2" type="text" placeholder="Search friends" (keyup)="onSearchInputChange()" #searchInput />
    </div>
  </div>
  <tui-loader *ngIf="isLoading && friendList.length === 0"></tui-loader>
  <div *ngIf="!isLoading && friendList.length === 0" class="empty-msg tui-text_body-l">No friends found!</div>
  <div class="tui-row tui-row_adaptive">
    <a class="tui-col_6" *ngFor="let item of friendList; let i = index" [href]="'profile/' + item.id">
      <img [src]="item.avatar" alt="" />
      <p>{{ item.firstName }} {{ item.lastName }}</p>
    </a>
  </div>
  <tui-loader *ngIf="isLoading && friendList.length !== 0"></tui-loader>
</div>
<div class="blank-spacer"></div>
