@import '~@taiga-ui/core/styles/mixins/mixins.scss';

%bot-border {
  border-bottom: 1px solid var(--tui-base-03);
}

.post-container {
  border-radius: 10px;
  overflow: hidden;
  @include shadow(1);
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0;

    &-left {
      display: flex;
    }
  }

  .post-status {
    --line-to-show: 2;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;

    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-to-show); /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .see-more {
    font-weight: 700;

    padding: 0 1rem 0.5rem;
    cursor: pointer;
  }
  .post-img {
    width: 100%;
    aspect-ratio: 2;
  }
  .post-user {
    font-weight: 700;
  }
  .post-time {
    font-weight: 400;
    color: var(--tui-base-05);
  }
  .post-numbers {
    padding: 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--tui-base-06);
    @extend %bot-border;
  }
  .btn-actions {
    display: flex;
    align-items: center;

    .btn-action {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0;

      cursor: pointer;
      @extend %bot-border;

      &:first-child {
        border-right: 1px solid var(--tui-base-03);
      }

      p {
        margin-left: 1rem;
        font-size: var(--tui-font-text-l);
        font-weight: 600;
      }

      .likedHeart {
        color: var(--tui-error-fill-night);
      }
    }
  }
}
