<div class="tui-col_12 tui-space_top-4">
  <div *ngFor="let userInfo of userCommentList; index as i">
    <div *ngIf="i < 2" class="user-comment-container mouse-pointer tui-row_align_start tui-space_top-3">
      <tui-avatar
        [size]="'m'"
        (click)="handleNavigateAccount(userInfo.user.id)"
        [rounded]="true"
        [avatarUrl]="userInfo.user?.avatar || mockImg"
      ></tui-avatar>

      <div class="input-comment tui-space_left-2">
        <div class="comment community-comment__box">
          <a (click)="handleNavigateAccount(userInfo.user.id)" class="tui-text_body-s-2 tui-text_bold link">{{
            userInfo.user?.firstName + ' ' + userInfo.user?.lastName
          }}</a>
          <p class="tui-text_body-m-2">{{ userInfo.content }}</p>
        </div>
        <span class="tui-text_body-s tui-space_left-3">{{ userInfo.createdAt | dateFromNow }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="userCommentList.length > 2">
    <tui-expand [expanded]="expanded">
      <div *ngFor="let userInfo of userCommentList; index as i">
        <div *ngIf="i > 1" class="user-comment-container mouse-pointer tui-row_align_start tui-space_top-3">
          <tui-avatar
            [size]="'m'"
            (click)="handleNavigateAccount(userInfo.user.id)"
            [rounded]="true"
            [avatarUrl]="userInfo.user?.avatar || mockImg"
          ></tui-avatar>

          <div class="input-comment tui-space_left-2">
            <div class="comment community-comment__box">
              <a (click)="handleNavigateAccount(userInfo.user.id)" class="tui-text_body-s-2 tui-text_bold link">{{
                userInfo.user?.firstName + ' ' + userInfo.user?.lastName
              }}</a>
              <p class="tui-text_body-m-2">{{ userInfo.content }}</p>
            </div>
            <span class="tui-text_body-s tui-space_left-3">{{ userInfo.createdAt | dateFromNow }}</span>
          </div>
        </div>
      </div>
    </tui-expand>

    <button tuiAction class="no-shadow action-expansion" (click)="onToggleViewMore()">
      <span *ngIf="!expanded; else viewLess">View more comments</span>
      <ng-template #viewLess>
        <span>View less comments</span>
      </ng-template>
    </button>
  </div>
</div>
