.container {
  padding-top: 1px;
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.item-container {
  margin-bottom: 30px;
}

.blank-spacer {
  height: 30px;
}

.empty-list-msg {
  text-align: center;
}
