.container {
  display: flex;
  margin-bottom: 10px;

  .message-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%;
    word-wrap: break-word;
    word-break: break-word;
    .message-text {
      border-radius: 20px;
      padding: 10px 20px;
      font-size: 15px;
    }
    .message-time {
      color: var(--tui-base-06);
      font-size: 13px;
    }
  }
}

.receive {
  .message-info {
    margin-left: 10px;
    .message-text {
      background: var(--tui-base-03);
    }
  }
}
.send {
  .message-info {
    margin-left: auto;
    align-items: flex-end;

    .message-text {
      color: var(--tui-accent-text);
      background: var(--tui-primary);
    }
  }
}
