.message-container {
  border: 1px solid var(--tui-base-03);
  margin: calc(var(--nav-bar-height) + 40px) 145px 0 145px;
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.message-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--tui-base-03);
  font-size: 15px;

  & > div {
    padding: 10px 20px;
  }
  &-left {
    flex: 1;
    text-align: center;
    font-weight: 700;
  }
  &-right {
    flex: 2;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--tui-base-03);
    height: 68px;
    .user-header-container {
      cursor: pointer;
      display: flex;
      align-items: center;
      & > p {
        margin-left: 10px;
        font-weight: 700;
      }
    }
  }
}

.message-body {
  display: flex;
  flex: 1;
  &-left {
    padding: 20px;
    flex: 1;
    overflow-y: auto;

    .empty-message {
      text-align: center;
      font-size: 15px;
      margin-top: 100px;
      font-weight: 700;
    }

    .search-box-container {
      position: relative;
      display: flex;
      width: 80%;
      align-items: center;
      padding: 10px;

      border-radius: 20px;
      background-color: var(--tui-base-03);
      margin: 0 auto 20px auto;
      tui-svg {
        margin-right: 10px;
        margin-left: 10px;
      }
      input {
        flex: 1;
        width: 500px;
        border: none;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    flex: 2;
    border-left: 1px solid var(--tui-base-03);
    padding-left: 40px;
    padding-bottom: 10px;

    .messages-container {
      --input-height: 80px;
      --header-height: 68px;
      display: flex;
      flex-direction: column-reverse;
      padding: 20px 10px 0 0;
      margin-left: -20px;
      height: calc(85vh - (var(--input-height) + var(--header-height)));
      overflow-y: auto;
    }
  }
}
.items-container {
  width: 412px;
  max-height: 310px;
  overflow-y: auto;
  .item-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 !important;
    height: 60px;
    min-height: 60px;
    .username {
      font-weight: 600;
    }
  }
}
